* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: whitesmoke;
  user-select: none;
}

html {
  overflow-x: hidden;
}
body {
  background: #171717;
  overflow-x: hidden;
}

@mixin mediaQuery($screenSize) {
  @media only screen and (min-width: $screenSize) {
    @content;
  }
}
@mixin displayFlex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  @content;
}

.converter-container {
  @include displayFlex(column, center, center);
  min-height: 100vh;
}

header {
  margin-bottom: 1.1rem;
  h1 {
    font-size: clamp(1.5rem, 3vw, 2.3rem);
    text-align: center;
  }
}

.myApp {
  @include displayFlex(column, none, center);
  min-height: 100vh;
  @include mediaQuery(568px) {
    max-width: fit-content;
    width: min-content;
    margin: 0 auto;
  }
}

.converter {
  @include displayFlex(column, none, center);
  padding: 1rem;
  gap: 10px;
  @include mediaQuery(568px) {
    max-width: fit-content;
    width: min-content;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 20px #878787;
  }
}

.dropdown-section {
  @include displayFlex(column, none, none);
  label {
    font-weight: 700;
    margin: 0.5rem 0 0.2rem 0;
    color: whitesmoke;
  }
  .dropdown {
    font-size: clamp(1.3rem, 2vw, 2rem);
    color: #171717;
    * {
      color: #171717;
    }
  }
}

.textfield-section {
  @include displayFlex(column, none, none);

  label {
    font-weight: 700;
    margin: 0.5rem 0 0.2rem 0;
    color: whitesmoke;
  }
  input[type="text"] {
    font-size: clamp(1.3rem, 2vw, 2rem);
    color: #171717;
  }
}

.result {
  section {
    margin-bottom: 1rem;
    width: inherit;
    p {
      font-size: clamp(1.1rem, 2vw, 2rem);
      font-weight: bold;
    }
    .result-section {
      @include displayFlex(row, flex-start, flex-start) {
        flex-wrap: wrap;
      }
      small:nth-child(1) {
        display: block;
        margin-right: 0.3rem;
        font-size: clamp(1.1rem, 2vw, 1.2rem);
        font-weight: 600;
        color: rgb(110, 226, 110);
        word-wrap: break-word;
      }
      small:nth-child(2) {
        font-size: clamp(1rem, 2vw, 1.1rem);
        align-self: flex-end;
        color: rgb(255, 212, 94);
        @include mediaQuery(568px) {
          width: 25ch;
        }
      }
    }
  }
}

footer {
  @include displayFlex(column, center, none);
  background: black;
  gap: 10px;
  width: 100vw;
  padding: 2rem;
  section {
    @include displayFlex(column, center, center);
    * {
      text-align: center;
    }
    .footer-caption {
      font-weight: bold;
      color: rgb(255, 212, 94);
      @include mediaQuery(568px) {
        width: 50ch;
      }
    }
  }

  nav {
    @include displayFlex(row, none, none);

    img {
      display: block;
      width: 3em;
      margin: 0 0.5rem;
      filter: invert(100%);
      transition: transform 300ms;
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
