* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: whitesmoke;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  overflow-x: hidden;
}

body {
  background: #171717;
  overflow-x: hidden;
}

.converter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

header {
  margin-bottom: 1.1rem;
}

header h1 {
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  text-align: center;
}

.myApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

@media only screen and (min-width: 568px) {
  .myApp {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
  }
}

.converter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  gap: 10px;
}

@media only screen and (min-width: 568px) {
  .converter {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    -webkit-box-shadow: 0px 0px 20px #878787;
            box-shadow: 0px 0px 20px #878787;
  }
}

.dropdown-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.dropdown-section label {
  font-weight: 700;
  margin: 0.5rem 0 0.2rem 0;
  color: whitesmoke;
}

.dropdown-section .dropdown {
  font-size: clamp(1.3rem, 2vw, 2rem);
  color: #171717;
}

.dropdown-section .dropdown * {
  color: #171717;
}

.textfield-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.textfield-section label {
  font-weight: 700;
  margin: 0.5rem 0 0.2rem 0;
  color: whitesmoke;
}

.textfield-section input[type="text"] {
  font-size: clamp(1.3rem, 2vw, 2rem);
  color: #171717;
}

.result section {
  margin-bottom: 1rem;
  width: inherit;
}

.result section p {
  font-size: clamp(1.1rem, 2vw, 2rem);
  font-weight: bold;
}

.result section .result-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result section .result-section small:nth-child(1) {
  display: block;
  margin-right: 0.3rem;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  font-weight: 600;
  color: #6ee26e;
  word-wrap: break-word;
}

.result section .result-section small:nth-child(2) {
  font-size: clamp(1rem, 2vw, 1.1rem);
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #ffd45e;
}

@media only screen and (min-width: 568px) {
  .result section .result-section small:nth-child(2) {
    width: 25ch;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  background: black;
  gap: 10px;
  width: 100vw;
  padding: 2rem;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer section * {
  text-align: center;
}

footer section .footer-caption {
  font-weight: bold;
  color: #ffd45e;
}

@media only screen and (min-width: 568px) {
  footer section .footer-caption {
    width: 50ch;
  }
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

footer nav img {
  display: block;
  width: 3em;
  margin: 0 0.5rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

footer nav img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
