* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  padding: 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .Show {
  background: #71eb71;
  border: 2px solid black;
  padding: 5px;
  max-width: 6em;
  width: 100%;
}

header .Show:hover {
  cursor: pointer;
  background: #65d465;
}

header .Delete {
  background: #e66868;
  border: 2px solid black;
  padding: 5px;
  max-width: 6em;
  width: 100%;
}

header .Delete:hover {
  cursor: pointer;
  background: #d65f5f;
}

fieldset {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

fieldset .textfieldSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

fieldset .textfieldSection input[type="text"] {
  padding: 0.5rem;
  font-size: clamp(1rem, 2vh, 3rem);
}

fieldset section {
  margin: 5px 0;
}

fieldset .btn-add {
  cursor: pointer;
  padding: 0.5rem;
  font-size: clamp(1rem, 2vh, 3rem);
  background: #71eb71;
}

.taskContainer {
  padding: 0.5rem;
  border: 1px solid black;
}

.taskContainer .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 5px 0;
  cursor: pointer;
}

.taskContainer .task .task-section p {
  font-weight: bold;
  word-break: break-all;
  width: 100%;
}

.taskContainer .task .task-section small {
  font-weight: 600;
}

.taskContainer .task .button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.taskContainer .task .button-section .delete-btn {
  background: #e66868;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.5rem;
}

.taskContainer .task .button-section .update-btn {
  background: #65c3ee;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.5rem;
}

.taskContainer .update-section section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 0;
}

.taskContainer .update-section section input[type="text"] {
  padding: 0.5rem;
  font-size: clamp(1rem, 2vh, 3rem);
}

.taskContainer .taskPriority {
  border-left: 7px solid green;
}

label {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .App {
    width: 50%;
    margin: 0 auto;
  }
}
